RewriteEngine On
RewriteRule . index.php [L]

# Allow CORS Pre-flight
Header always set Access-Control-Allow-Origin "http://localhost:8080"
Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
Header always set Access-Control-Allow-Headers "Content-Type, X-Requested-With, Authorization, Accept"
Header always set Access-Control-Allow-Credentials "true"
